<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>O'nlyFan</title>

    <!-- favicon  Yann-->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <% if ("/login") { %>
            <link rel="stylesheet" href="/css/login.css">
    <% } %>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--  -->


    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/watch.css">
    <!-- CSS for quizz and admin (AUTH) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body>
    <header class="header">
        <div class="container">
            <h1 class="title is-1"><a href="/">O'nlyFan</a></h1>
            <%- include('./nav.ejs'); -%>
            <span class="subtitle is-4">O'nlyFan by O'clock</span>
        </div>
    </header>
    <main>