<%- include('./partials/header.ejs'); -%>
    <header class="header">
        <div class="contenair">
            <h1>O'nlyFan</h1>
            <%- include('./partials/nav.ejs'); -%>
            <span>O'nlyFan by O'clock</span>
        </div>
    </header>
    <main>

<%- include('./partials/footer.ejs'); -%>